<% if @browser=="ie" %>
<html xmlns:v="urn:schemas-microsoft-com:vml">
<head>
    <style>
    	v\:* { behavior: url(#default#vml); }
    </style>

<% else %><?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<% end %>
	<!-- chargement des scripts utilises dans la page --> 	
	
	<!-- normalement on apele juste scriptaculous.js, mais celui-ci ne trouve pas le chemin
	des autres fichiers (il cherche le 'path' courant, que Rails a du changer),
	donc on importe tout en dur -->
    <script type="text/javascript" src="/javascripts/lib/prototype.js"></script> 
    <script type="text/javascript" src="/javascripts/src/builder.js"></script>
	<script type="text/javascript" src="/javascripts/src/effects.js"></script>
	<script type="text/javascript" src="/javascripts/src/controls.js"></script>
	<script type="text/javascript" src="/javascripts/src/dragdrop.js"></script>
	<script type="text/javascript" src="/javascripts/src/slider.js"></script>
	<script type="text/javascript" src="/javascripts/src/sound.js"></script>
	<script type="text/javascript" src="/javascripts/src/unittest.js"></script>
	<script src="/javascripts/src/knallgrau.scriptaculous.js" type="text/javascript"></script>
	<script src="/javascripts/yahoo.color.js" type="text/javascript"></script>
  	<script src="/javascripts/colorPicker.js" type="text/javascript"></script>
	<script type="text/javascript" src="/javascripts/data_update.js"></script>
	<script type="text/ecmascript" src="/javascripts/donnees.js"></script>
	<script type="text/ecmascript" src="/javascripts/json_ajax.js"></script>
	<script type="text/ecmascript" src="/javascripts/initdiscretisation.js"></script>
    <script type="text/ecmascript" src="/javascripts/donnees_conflits.js"></script>
	<script type="text/ecmascript" src="/javascripts/zones_conflits.js"></script>
	<script type="text/ecmascript" src="/javascripts/slider_event.js"></script>
	<script type="text/javascript" src="/javascripts/frise.js"></script>

<!-- chargement de scripts different traitant les objet SVG ou VML, selon qu'on est sous Firefox ou IE -->
<% if @browser=="ie" %>
	<script type="text/ecmascript" src="/javascripts/modifier_vml_ie.js"></script>
	<script language="javascript" type="text/javascript" src="/javascripts/firebug/firebug.js"></script>
	
<% else %>
    <script type="text/ecmascript" src="/javascripts/modifier_svg_moz.js"></script>
<% end %>
	<!-- chargement des feuilles de style -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/slider.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/carte.css"/>
	<link rel="stylesheet" type="text/css" href="/stylesheets/colorPicker.css"/>

    <script type="text/ecmascript">      
		    old_pays_survole="CZ19461993"; //var. globale
        function survol_zone(pays_survole) {
        	pays_survole=pays_survole;
        	document.getElementById(pays_survole).setAttribute("stroke-width", "2");
        	document.getElementById(old_pays_survole).setAttribute("stroke-width", "0.25");
			ti = document.getElementById(pays_survole).getAttribute("title") ;
        	document.getElementById("pays2").value=ti;//pays_survole;
			afficherFrise(pays_survole);
        	old_pays_survole=pays_survole;        }
      	function curseurPays(val, box) {var b=document.getElementById('output'+box);val=Math.round(val);
        	b.value=val;
        	//toggle_layer_number(val);
      	}
    </script>
</head>
	
<body>
    <script type="text/ecmascript">
		function toggleCode(img1, div1) {
			var d = document.getElementById(img1);
			var s = document.getElementById(div1);
    		if(s.style.display == "none") {
				d.src = "/images/navig/fermer0.gif";
        		s.style.display = "block";
    		}
    		else {
				d.src = "/images/navig/fermer1.gif";
        		s.style.display = "none";
    		}
		}		
    </script>


<!--
<%= image_tag("navig/fermer.gif",
  :onclick => visual_effect(:toggle_blind, 'volet_navig',   :duration => 1.0, :scaleX => true, :scaleY => false)   )  %>

comment combiner ça avec ce qui suit ?
visual_effect(:toggle_appear, 'pays2', :duration => 1.0)

<img style="visibility: hidden;" id="essai3" src="/images/navig/bg.png" onclick="document.getElementById(&quot;essai2&quot;).src=&quot;/images/navig/hg.png&quot;"/>

<div onclick="Effect.toggle(&quot;volet_navig&quot;,'appear',{duration:1.0});">Volet navig</div>

<%= content_tag 'div', 'Masquer navig',
  :onclick => visual_effect(:toggle_blind, 'volet_navig', :duration => 1.0, :scaleX => true, :scaleY => false)  %>
-->
         
<!--
 :with => "'id=' + escape(pays_survole)")
-->
<!--grace au "position:relative;" du div ancetre, on place ce div par rapport a l'ancetre  -->

<!-- le bouton pour fermer le volet navigation -->
<a id="toggle1" href="javascript:void(0)" onclick="toggleCode('imgTog1', 'volet_navig')"><img id="imgTog1" src="/images/navig/fermer0.gif" /> </a>   
<!-- un bloc contenant les elements de navigation et resultats d'action sur slider 
on pensera a le placer autre-part, ou autrement (peut-etre au dessus carte avec le z-index)-->  
<div id="volet_navig" style="display:block;" >	
	
	<!-- le pan pour le zoom et al navigation -->
	<%= render :partial => "navig" %>

</div>

<a id="toggle1" href="javascript:void(0)" onclick="toggleCode('imgTog2', 'volet_info')"><img id="imgTog2" src="/images/navig/fermer0.gif" /> </a>   

<div id="volet_info">
	Year:
    <span id="choix_annee" size="3"> </span> ;
	<br/>

	<b>Dataset: </b><%= select_tag "datasets", options_for_select(@dat,@dat[0]) %>
	
	&#160;  <input type="checkbox" name="conflitsAffiche" id="conflitsAffiche" onclick="reInit2(annee_en_cours);"/>
	<input type="text" style="width:25px; background:#A200C3;"/>
	Civil Conflicts (data source: <a href="http://www.prio.no/CSCW/Datasets/Armed-Conflict/">PRIO</a>)
	
	
	<div id="liste_var"></div>
	<div id="essai"> </div>

</div>

<%= observe_field (:datasets,
		  :url => { :controller => 'carte', :action => 'refresh_var'},
		  :update => 'liste_var', :with => "'datas=' + $('datasets').value") %>
		 
<!-- un bloc contenant la carte et donc tous ses objets SVG ou VML -->
<!--position: relative; overflow: hidden;   background-color: #B4DAF6; "  > --> 
<div id="cadre_carte" class="cadre_carte">
    <%= render :partial => "guy_carte_"+@browser %>
</div>

<div id="cadre_legende"></div>

<!-- <%= #observe_field(:pays2,
	#:frequency => 0.1, # fonction reflex pour mettre a jour la frise
    #:update => 'frise',
	#:url => { :controller => 'carte', :action=> 'show_over' }, 
	#:with => "'id=' + $('pays2').value+'&dataset='+ $('datasets').value+'&variable='+ $('variable').value")
    
%> -->
<!-- '&annee='+ $('choix_annee').innerHTML+ -->


<br/>

<div style="margin-top:5px; clear:both;">
	<% 	# initialisation des variables qui vont permettre de formater le slider en fonction des dates du jeu de donnees
		@long_annee = (600 / (@fin_periode - @debut_periode + 1)).to_i
		@long_curseur = @long_annee * (@fin_periode - @debut_periode + 1)
	%>

	<!-- une date de debut et une fleche gauche pour deplacer le curseur, de meme plus loin pour la droite -->
	<div class="date"><%= @debut_periode %></div>
	<div class="fleche" onclick="sliderDate.setValueBy(-1);">&lt;</div>

	<!-- Slider avec des valeurs predefinies (annees entre date debut et date de fin du jeu de donnees,
	et deux curseurs pour specifier un debut et eventuellement une fin pour une valeur selectionnee
	l'attribut CSS 'width' est necessairement declare en ligne (surement pour l'instance du slider) -->

	<div id="slider_frise">	  
		<div id="slider">
			<div id="track_date" style="width:<%= @long_curseur %>px; height:10px;"> 
    			<div id="handle_date_debut"	style="width:<%= @long_annee %>px; height:20px; background-color:#f00;"> </div>
				<span id="info_date"></span>				
			</div>

			<% for @an in @debut_periode..@fin_periode %>			
				<div class='repere_slider<%=(@an%5 == 0 ? "_5ans" : "")%>' 	> </div>			
				<div class='espace_entre_reperes'  > </div>						
			<% end %>		
		</div>
		<div class="fleche" onclick="sliderDate.setValueBy(1);">&gt;</div>
		<div class="date"><%= @fin_periode %></div>
		<div id="frise"></div>=> <input type="text" id="pays2"/>
	</div>	
</div>

<script type="text/javascript">
// script de creation de l'objet slider
   
	var sliderDate = new Control.Slider('handle_date_debut','track_date',
		{range:$R(<%= @debut_periode %>, <%= @fin_periode %>),
		values:<%= (@debut_periode..@fin_periode).to_json %>, 
	   	sliderValue : <%=@debut_periode%>,
	   	onSlide:function(v){reInit2(v)},
	   	onChange:function(v){reInit2(v)}});

	$('choix_annee').innerHTML = <%=@debut_periode%>
</script>

<br/>
<br/>
<br/>
<!-- un div pour afficher le partiel du tableau de donnees de la zone selectionnee -->
<div id="tabl_donnees"></div>

</body>

</html>