<% if @browser=="ie" %>
<html xmlns:v="urn:schemas-microsoft-com:vml">
<head>
    <style>
    	v\:* { behavior: url(#default#vml); }
    </style>

<% else %><?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<% end %>
	<!-- chargement des scripts utilises dans la page --> 	
	
	<!-- normalement on apele juste scriptaculous.js, mais celui-ci ne trouve pas le chemin
	des autres fichiers (il cherche le 'path' courant, que Rails a du changer),
	donc on importe tout en dur -->
    <script type="text/javascript" src="/javascripts/lib/prototype.js"></script> 
    <script type="text/javascript" src="/javascripts/src/builder.js"></script>
	<script type="text/javascript" src="/javascripts/src/effects.js"></script>
	<script type="text/javascript" src="/javascripts/src/controls.js"></script>
	<script type="text/javascript" src="/javascripts/src/dragdrop.js"></script>
	<script type="text/javascript" src="/javascripts/src/slider.js"></script>
	<script type="text/javascript" src="/javascripts/src/sound.js"></script>
	<script type="text/javascript" src="/javascripts/src/unittest.js"></script>
	<script src="/javascripts/src/knallgrau.scriptaculous.js" type="text/javascript"></script>
	<script src="/javascripts/yahoo.color.js" type="text/javascript"></script>
  	<script src="/javascripts/colorPicker.js" type="text/javascript"></script>
	
	
	<script type="text/ecmascript" src="/javascripts/json_ajax.js"></script>
	<script type="text/ecmascript" src="/javascripts/initdiscretisation.js"></script>
    <script type="text/ecmascript" src="/javascripts/donnees_conflits.js"></script>
	<script type="text/ecmascript" src="/javascripts/zones_conflits.js"></script>
	<script type="text/ecmascript" src="/javascripts/slider_event.js"></script>
	<script type="text/javascript" src="/javascripts/frise.js"></script>
	<script type="text/javascript" src="/javascripts/data0_0.js"></script>

<!-- chargement de scripts different traitant les objet SVG ou VML, selon qu'on est sous Firefox ou IE -->
<% if @browser=="ie" %>
	<script type="text/ecmascript" src="/javascripts/modifier_vml_ie.js"></script>
	
<% else %>
    <script type="text/ecmascript" src="/javascripts/modifier_svg_moz.js"></script>
<% end %>
	<!-- chargement des feuilles de style -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/slider.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/carte.css"/>
	<link rel="stylesheet" type="text/css" href="/stylesheets/colorPicker.css"/>

</head>
	
<body>
    <script type="text/ecmascript">
		function toggleCode(img1, div1) {
			var d = document.getElementById(img1);
			var s = document.getElementById(div1);
    		if(s.style.display == "none") {
				d.src = "/images/navig/fermer0.gif";
        		s.style.display = "block";
    		}
    		else {
				d.src = "/images/navig/fermer1.gif";
        		s.style.display = "none";
    		}
		}		
    </script>


<!--
<%= image_tag("navig/fermer.gif",
  :onclick => visual_effect(:toggle_blind, 'volet_navig',   :duration => 1.0, :scaleX => true, :scaleY => false)   )  %>

comment combiner ça avec ce qui suit ?
visual_effect(:toggle_appear, 'pays2', :duration => 1.0)

<img style="visibility: hidden;" id="essai3" src="/images/navig/bg.png" onclick="document.getElementById(&quot;essai2&quot;).src=&quot;/images/navig/hg.png&quot;"/>

<div onclick="Effect.toggle(&quot;volet_navig&quot;,'appear',{duration:1.0});">Volet navig</div>

<%= content_tag 'div', 'Masquer navig',
  :onclick => visual_effect(:toggle_blind, 'volet_navig', :duration => 1.0, :scaleX => true, :scaleY => false)  %>
-->
         
<!--
 :with => "'id=' + escape(pays_survole)")
-->
<!--grace au "position:relative;" du div ancetre, on place ce div par rapport a l'ancetre  -->

<div style="float:right;">
	<a id="toggle1" href="javascript:void(0)" onclick="toggleCode('imgTog2', 'volet_info')"><img id="imgTog2" src="/images/navig/fermer0.gif" /> </a>   
</div>
<div id="volet_info" >
	<div id="titre">
		<img src="/images/logo/logo_Peace_Prism.png" style="float:left;"/>
		<h1>PEACE PRISM</h1>
	</div>
	<div id="selections">

		<div class="conteneur_icone">
			<img src="/images/icones/dataset.png" id="dataset_ico" title="dataset"/>
		</div>
		<div id="block_for_select" >&#160;=&#160;<%= select_tag "datasets", options_for_select(@dat,@dat[0]) %>
	
		&#160;  <input type="checkbox" name="conflitsAffiche" id="conflitsAffiche" onclick="reInit2(annee_en_cours);"/>
		<input type="text" style="width:25px; background:#A200C3;"/>
		Civil Conflicts (data source: <a href="http://www.prio.no/CSCW/Datasets/Armed-Conflict/">PRIO</a>)
	
		</div>	
		<div id="liste_var" style="clear:both;"></div>
		<div id="essai"> </div>
	</div>
</div>
<div>
	<img src="/images/icones/zoomin.png" onclick="zoom(1.25)"/>
	<img src="/images/icones/zoomout.png" onclick="zoom(1/1.25)"/>
	<img src="/images/icones/globe.png" onclick="initzoom()"/>
	<img id="resize" src="/images/icones/resize_enfonce.png" onclick="resz()"/>
	
	<img id="refresh" src="/images/icones/reload_map.png" title="reload map" onclick="reInit2(annee_en_cours); afficherFrise(old_pays_survole);"/>
		
	<!-- boutons de lancement et d'arret du film -->
	<img id="movie" src="/images/icones/movie_clap_play.png" title="play movie" onclick="lire_film = Math.pow(lire_film-1, 2);film();"/>

</div> 

<script type="text/ecmascript">
	// pour charger par defaut une carte vide, on force le choix a zero
	$('datasets').value = 0;
	//requestjson(0,0);	
	initdiscretisation();
</script>

<%= observe_field (:datasets,
		  :url => { :controller => 'carte', :action => 'refresh_var'},
		  :update => 'liste_var', :with => "'datas=' + $('datasets').value") %>
<!-- un bloc contenant la carte et donc tous ses objets SVG ou VML -->
<!--position: relative; overflow: hidden;   background-color: #B4DAF6; "  > --> 
<div id="carte_navig" style="float:left;">
	
	<table id="table_navig" border="0" cellpadding="0" cellspacing="0">
  		<tbody>
    		<tr><td><img id="hg" src="/images/icones/hg.png" onclick="pan(-.1,-.1)"/></td>
      			<td><center><img id="h"  src="/images/icones/h.png" onclick="pan(0,-.1)"/></center></td>
     			<td><img id="hd" src="/images/icones/hd.png" onclick="pan(.1,-.1)"/></td>
    		</tr>
    		<tr><td><img id="g"  src="/images/icones/g.png" onclick="pan(-.1,0)"/></td>
				<td>
				<div id="cadre_carte" class="cadre_carte">
      				<%= render :partial => "carte_"+@browser+".html" %>
				</div>
				</td>
     			<td><img id="d"  src="/images/icones/d.png" onclick="pan(.1,0)"/></td>
   			</tr>
    		<tr><td><img id="bg" align='top' src="/images/icones/bg.png" onclick="pan(-.1,.1)"/></td>
      			<td><center><img id="b" align='top' src="/images/icones/b.png" onclick="pan(0,.1)"/></center></td>
      			<td><img id="bd" align='top' src="/images/icones/bd.png"  onclick="pan(.1,.1)"/></td>
    		</tr>
  		</tbody>
	</table>
	    
</div>

<div id="cadre_legende"></div>

<!-- <%= #observe_field(:pays2,
	#:frequency => 0.1, # fonction reflex pour mettre a jour la frise
    #:update => 'frise',
	#:url => { :controller => 'carte', :action=> 'show_over' }, 
	#:with => "'id=' + $('pays2').value+'&dataset='+ $('datasets').value+'&variable='+ $('variable').value")
    
%> -->



<br/>

<div style="margin-top:5px; clear:both;">
	<% 	# initialisation des variables qui vont permettre de formater le slider en fonction des dates du jeu de donnees
		@long_annee = (600 / (@fin_periode - @debut_periode + 1)).to_i
		@long_curseur = @long_annee * (@fin_periode - @debut_periode + 1)
	%>

	<!-- une date de debut et une fleche gauche pour deplacer le curseur, de meme plus loin pour la droite -->
	<div class="date"><%= @debut_periode %></div>
	<div class="fleche" onclick="sliderDate.setValueBy(-1);">&#160;&#8592;&#160;</div>

	<!-- Slider avec des valeurs predefinies (annees entre date debut et date de fin du jeu de donnees,
	et deux curseurs pour specifier un debut et eventuellement une fin pour une valeur selectionnee
	l'attribut CSS 'width' est necessairement declare en ligne (surement pour l'instance du slider) -->

	<div id="slider_frise">	  
		<div id="slider">
			<div id="track_date" style="width:<%= @long_curseur %>px; height:10px;"> 
    			<div id="handle_date_debut"	style="width:<%= @long_annee %>px; height:20px; background-color:#f00;"> </div>
								
			</div>

		<!-- on dessine a priori les noms des annees au dessus du curseur, cf. ticket:16  -->
		<% for @an in @debut_periode..(@fin_periode-1) %>
			<span class="info_date" id='info_date_<%= @an%>' style='left: <%= @long_annee*(@an-1946)+58%>px; visibility:hidden;' ><%=@an%></span>
		<% end %>
		<span class="info_date" id='info_date_2003' style='left: <%= @long_annee*(2003-1946)+58%>px; visibility:visible;' >2003</span>

			<% for @an in @debut_periode..@fin_periode %>			
				<div class='repere_slider<%=(@an%5 == 0 ? "_5ans" : "")%>' 	> </div>			
				<div class='espace_entre_reperes'  > </div>						
			<% end %>
			
					
		</div>
		<div class="fleche" onclick="sliderDate.setValueBy(1);">&#160;&#8594;&#160;</div>
		<div class="date"><%= @fin_periode %></div>
		<div id="frise"></div>&#8594;&#160;<input type="text" id="pays2"/>
	</div>	
</div>

<script type="text/javascript">
// script de creation de l'objet slider
   
	var sliderDate = new Control.Slider('handle_date_debut','track_date',
		{range:$R(<%= @debut_periode %>, <%= @fin_periode %>),
		values:<%= (@debut_periode..@fin_periode).to_json %>, 
	   	sliderValue : <%=@fin_periode%>,
	   	onSlide:function(v){reInit2(v)},
	   	onChange:function(v){reInit2(v)}});

</script>

<br/>
<br/>
<br/>
<!-- un div pour afficher le partiel du tableau de donnees de la zone selectionnee -->
<div id="tabl_donnees"></div>

</body>

</html>