<% if @browser=="ie" %>
<html xmlns:v="urn:schemas-microsoft-com:vml">
<head>
    <style>
    	v\:* { behavior: url(#default#vml); }
    </style>

<% else %><?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<% end %>
	<!-- chargement des scripts utilises dans la page --> 	
	
	<script type="text/ecmascript" src="/javascripts/slider/slider_event.js"></script>
	<!--<script type="text/ecmascript" src="/javascripts/slider/slider-setup.js"></script>
	<script type="text/ecmascript" src="/javascripts/slider/slider.js"></script>
	<script type="text/ecmascript" src="/javascripts/slider/addanevent.js"></script>-->

	<!-- normalement on apele juste scriptaculous.js, mais celui-ci ne trouve pas le chemin
	des autres fichiers (il cherche le 'path' courant, que Rails a du changer),
	donc on importe tout en dur -->
    <script type="text/javascript" src="/javascripts/lib/prototype.js"></script> 
    <script type="text/javascript" src="/javascripts/src/builder.js"></script>
	<script type="text/javascript" src="/javascripts/src/effects.js"></script>
	<script type="text/javascript" src="/javascripts/src/controls.js"></script>
	<script type="text/javascript" src="/javascripts/src/dragdrop.js"></script>
	<script type="text/javascript" src="/javascripts/src/slider.js"></script>
	<script type="text/javascript" src="/javascripts/src/sound.js"></script>
	<script type="text/javascript" src="/javascripts/src/unittest.js"></script>

	<!-- <script type="text/ecmascript" src="/javascripts/donnees_conflits.js"></script> -->
	<script type="text/javascript" src="/javascripts/src/data_update.js"></script>
	<script type="text/ecmascript" src="/javascripts/src/donnees.js"></script>
	<!-- <script type="text/ecmascript" src="/javascripts/donnees.js"></script>
	<script type="text/ecmascript" src="/javascripts/zones_conflits.js"></script> -->

	<!-- chargement des feuilles de style -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/slider.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/carte.css"/>


    <script type="text/ecmascript">      
        old_pays_survole="CZ19461993"; //var. globale
        function survol_zone(pays_survole) {
        	pays_survole=pays_survole;
        	document.getElementById(pays_survole).setAttribute("stroke-width", "2");
        	document.getElementById(old_pays_survole).setAttribute("stroke-width", "0.25");
        	document.getElementById("pays2").value=pays_survole;
        	old_pays_survole=pays_survole;
        }
      	function curseurPays(val, box) {
        	var b=document.getElementById('output'+box);
        	val=Math.round(val);
        	b.value=val;
        	//toggle_layer_number(val);
      	}
      	//var pays= new Array ("Serbia", "Slovenia", "Montenegro", "Croatia", "Macedonia", "Bosnia_and_Herzegovina", "Cyprus_1_", "Luxembourg", "United_Arab_Emirates", "Qatar", "Azerbaijan", "Jordan", "Lebanon", "Netherlands", "Belgium", "Canada", "Greenland_1_", "Papua_New_Guinea", "Cambodia", "Vietnam", "Korea_x002C__Democratic_People_x0027_s_Republic_of", "Korea_x002C__Republic_of", "Mongolia", "Kazakhstan", "Taiwan", "Brunei", "Butan", "Bangladesh", "Afghanistan", "Kyrgyzstan", "Burkina_Faso", "Belize", "Indonesia", "Guatemala", "Dominican_Republic", "Burma", "Laos", "Malaysia", "Cuba", "Tajikistan", "Jamaica", "Thailand", "Nepal", "Uzbekistan", "Malawi", "Turkmenistan", "Puerto_Rico", "Russia_2_", "Sri_Lanka", "Nicaragua", "Madagascar", "Zambia", "El_Salvador", "Honduras", "Haiti", "Costa_Rica", "Panama", "Chile", "Bolivia", "Paraguay", "Uruguay", "Peru", "Brazil", "Mexico", "Kenya", "Tanzania", "Mozambique", "Zaire", "Angola", "Namibia", "Congo", "Cameroon", "Gabon", "Equatorial_Guinea", "Botswana", "Zimbabwe", "Uganda", "Burundi", "Guyana", "Suriname", "French_Guiana", "Ecuador", "Colombia", "Venezuela", "Benin", "Ghana", "Togo", "Guinea", "Liberia", "Sierra_Leone", "Nigeria", "Lesotho", "Swaziland", "Ivory_Coast", "Rwanda", "Western_Sahara", "Niger", "Sudan", "Lybia", "Chad", "Mali", "Mauritania", "Tunisia", "Algeria", "Morocco", "India", "New_Zealand", "Argentina", "United_Kingdom_1_", "United_States_1_", "Italy_1_", "Denmark_1_", "Egypt_1_", "South_Africa", "Finland", "France", "Portugal", "Ireland", "Iceland", "Germany", "Poland", "Australia_1_", "Turkey_1_", "Russia", "Saudi_Arabia", "Slovakia", "Spain_1_", "Israel", "Iraq", "Greece", "Romania", "Bulgaria", "Syria", "Albania", "Switzerland", "Czech_Republic", "Austria", "Kuwait", "Iran", "Estonia", "Latvia", "Hungary", "Pakistan", "Sweden", "Lithuania", "China_1_", "Norway", "Byelarus", "Ukraine", "Moldova", "Georgia", "Armenia", "Oman", "Eritrea", "Central_African_Republic", "Yeman", "Somalia", "Ethiopia", "Guinea-Bissau", "Philippines", "Japan", "Senegal", "Gambia_The");
    </script>
    
    
    <script type="text/ecmascript">
	//ne marche pas très bien (le curseur ne bouge pas) mais pas très grave car je ne vais pas prendre ce cursuer, mais le code js de sciptaculous

	//<![CDATA[
		function film() {
			if (lire_film==1 && 2003>slider[1].val){
				slider[1].val=slider[1].val+1;
  				var timer = setTimeout("film()",500);
  				//output1.value=slider[1].val;
  				setBoxValue(slider[1].val, 1);
  				drawSliderByVal(slider[1].val);
  				//b.value=slider[1].val;
  				var b=document.getElementById('output1');
				b.value=slider[1].val;
  			}
			else slider[1].val= 1945
		}
		//]]>
	</script>

</head>
	
<body>
    <script type="text/ecmascript">
        bascule_volet_navig_val=0;
        function bascule_volet_navig() {
			bascule_volet_navig_val=1-bascule_volet_navig_val;
          	document.getElementById("bascule_volet_navig_img").src="images/navig/fermer" + bascule_volet_navig_val +".gif";
        }
    </script>


<!--
<%= image_tag("navig/fermer.gif",
  :onclick => visual_effect(:toggle_blind, 'volet_navig',   :duration => 1.0, :scaleX => true, :scaleY => false)   )  %>

comment combiner ça avec ce qui suit ?
visual_effect(:toggle_appear, 'pays2', :duration => 1.0)

<img id="essai2" src="/images/navig/bd.png" onclick="document.getElementById(&quot;essai3&quot;).style.visibility=&quot;visible&quot;"/>

<img style="visibility: hidden;" id="essai3" src="/images/navig/bg.png" onclick="document.getElementById(&quot;essai2&quot;).src=&quot;/images/navig/hg.png&quot;"/>

<div onclick="Effect.toggle(&quot;volet_navig&quot;,'appear',{duration:1.0});">Volet navig</div>

<%= content_tag 'div', 'Masquer navig',
  :onclick => visual_effect(:toggle_blind, 'volet_navig', :duration => 1.0, :scaleX => true, :scaleY => false)  %>
-->
         
<!--
 :with => "'id=' + escape(pays_survole)")
-->
<!--grace au "position:relative;" du div ancetre, on place ce div par rapport a l'ancetre  -->

<!-- titre = remplacer par h1 ? -->
<div id="titre">CARTE D'AFFICHAGE DES DONNEES SUR LES CONFLITS</div>

<!-- le bouton pour fermer le volet navigation -->
<img id="bascule_volet_navig_img" alt="Fermer" onclick="Effect.toggle(&quot;volet_navig&quot;,'blind',{duration:1.0, scaleX:false , scaleY: true });setTimeout('bascule_volet_navig()',800);" src="/images/navig/fermer0.gif" />
    
<!-- un bloc contenant les elements de navigation et resultats d'action sur slider 
on pensera a le placer autre-part, ou autrement (peut-etre au dessus carte avec le z-index)-->  

<div id="volet_navig">	
	
	<!-- le pan pour le zoom et al navigation -->
	<%= render :partial => "navig" %>
	
	<!-- une croix qui ferme le volet de navigation -->
	<img  id="navig_on_off" src="/images/navig/bd.png" 
    onclick="document.getElementById(&quot;navig_on_off&quot;).src=&quot;/images/navig/hg.png&quot;"/>

	<!-- boutons de lancement et d'arret du film -->
    <span id="film_play" onclick="lire_film=1;slider[1].val= 1945;film();">Start movie (1946-2003)</span>
    <br/>
    <span id="film_stop" onclick="lire_film=0;">Stop  movie</span>
    <br/>
	
	<!-- 3 cases pour afficher les donnees rapides associees au slider -->
	Year:
    <span id="choix_annee" size="3"> </span> ;
	<span id="nompays" size="1" style="text-align:right"> </span>
	countries in civil war.

	<br/>
	Country/zone: <%= text_field_tag :pays2 %>
	<br/>
	Variable : <%= select_tag "variable", "<option>var1</option><option>var2</option><option>var3</option>" %>
	<div id="essai"> </div>
</div>

<%= observe_field 'variable', :frequency => 0.2, # fonction reflex pour mettre a jour la frise
          :url => { :controller => 'carte', :action=> 'update_map' }, :with => 'variable',
			:complete => "changerDonnees(request)" %>
		 
		 <!-- <%= observe_field(:variable, :frequency => 0.1, # fonction reflex pour mettre a jour la frise
          :url => { :controller => 'carte', :action=> 'update_map' }) %>
		  
		  :update => 'essai',-->
<!-- un bloc contenant la carte et donc tous ses objets SVG ou VML -->
<!--position: relative; overflow: hidden;   background-color: #B4DAF6; "  > --> 
<div id="cadre_carte" class="cadre_carte">
    <%= render :partial => "guy_carte_"+@browser %>
</div>

<%= observe_field(:pays2, :frequency => 0.1, # fonction reflex pour mettre a jour la frise
         :update => 'frise', :url => 
         { :controller => 'carte', :action=> 'show_over' }, 
         :with => "'id=' + $('pays2').value+'&annee='+ $('choix_annee').value") %>


<br/>

<% 	# initialisation des variables qui vont permettre de formater le slider en fonction des dates du jeu de donnees
	@long_annee = (600 / (@fin_periode - @debut_periode + 1)).to_i
	@long_curseur = @long_annee * (@fin_periode - @debut_periode + 1)
%>

<!-- une date de debut et une fleche gauche pour deplacer le curseur, de meme plus loin pour la droite -->
<div class="date"><%= @debut_periode %></div>
<div class="fleche" onclick="sliderDate.setValueBy(-1);">&lt;</div>

<!-- Slider avec des valeurs predefinies (annees entre date debut et date de fin du jeu de donnees,
et deux curseurs pour specifier un debut et eventuellement une fin pour une valeur selectionnee
l'attribut CSS 'width' est necessairement declare en ligne (surement pour l'instance du slider) -->
<div id="slider_frise">	  
	<div id="slider">
		<div id="track_date" style="width:<%= @long_curseur %>px; height:10px;"> 
    		<div id="handle_date_debut"	style="width:<%= @long_annee %>px; height:20px; background-color:#f00;"> </div>
			<span id="info_date"></span>				
		</div>

		<% @decalage = 1 # un repere des annees %>
			<% for @an in @debut_periode..@fin_periode %>
				<% if (@an%5 == 0) %>
					<%= "<div class='repere_slider' style='left:" + (((@an-@debut_periode)*@long_annee)-@decalage).to_s + "px; border-width:2px;'></div>" %>
					<% @decalage = @decalage + 4 %>
					<% if (@an%10 == 0) %>
						<%= "<div style='position:relative; float:left; width:40px; top:-33px; left:" + (((@an-@debut_periode)*@long_annee)-@decalage-15).to_s + "px; z-index:0'>" + (@an).to_s + "</div>"%>
						<% @decalage = @decalage + 40 %>
					<% end %>
				<% else %>
					<%= "<div class='repere_slider' style='left:" + (((@an-@debut_periode)*@long_annee)-@decalage).to_s + "px;'></div>" %>
					<% @decalage = @decalage + 2 %>
				<% end %>
		<% end %>		
	</div>
	<div id="frise"></div>
</div>
<div class="fleche" onclick="sliderDate.setValueBy(1);">&gt;</div>
<div class="date"><%= @fin_periode %></div>

<script type="text/javascript">
// <![CDATA[
	// instanciation d'un objet slider attache aux div track_date et handle_date_debut
	//var sliderDate = new Control.Slider('handle_date_debut','track_date',{range:$R(<%= @debut_periode %>, <%= @fin_periode %>),values:<%= (@debut_periode..@fin_periode).to_json %>, 
	//   onSlide:function(v){reInit(v,1)},
	//   onChange:function(v){reInit(v,1)}});
	   
	var sliderDate = new Control.Slider('handle_date_debut','track_date',{range:$R(<%= @debut_periode %>, <%= @fin_periode %>),values:<%= (@debut_periode..@fin_periode).to_json %>, 
	   onSlide:function(v){reInit2(v,1)},
	   onChange:function(v){reInit2(v,1)}});

	   
// ]]>
</script>

<br/>
<%= observe_field(:pays2, :frequency => 0.1, # fonction reflex pour mettre a jour du tableau
         :update => 'tabl_donnees', :url => 
         { :controller => 'carte', :action=> 'tableau' }, 
         :with => "'id=' + $('pays2').value+'&annee='+ $('choix_annee').value") %>

<br/>
<br/>
<div id="tabl_donnees"></div>

</body>

</html>