<!-- vue de description de la variable et de ses valeurs
pour la reference du dataset, on fait une recherche de la 'citation' au niveau du
variable_controller (action 'show_description') et on ajoute le div ci-apres.
-->
<p>  
  <b><h1><%=h @variable.long_name %> (<%=h @variable.name %>)</h1></b>
</p>
<div style="background-color:#FFFFCC; border-style:solid;">
	<div style="float:left;">
	<img id="reference" src="/images/icones/reference.png" title="Dataset reference"/>&#160;&#160;
	</div>
	<%= auto_link(@citation) %>
</div>
<!--
<p>
  <b>Var:</b>
  <%=h @variable.var_id %>
  <b>, Dataset:</b>
  <%=h @variable.dataset_id %>
  <b>, Name:</b>
  <%=h @variable.name %>
</p>
-->

<p>
  <b><h3>Description:</h3></b></br>
  <%= @variable.descr_before %>
</p>

<% if @variable.binary_var == 1 %>
	
<% else %>
	<% if @variable.mini == nil and @variable.maxi == nil %>
		<b><h3>Values:</h3></b></br>
	<% else %>
		<% if @variable.qualitatif_ordonne == 1 %>
			<b><h3>Values:</h3></b></br>
		<% else %>
			<b><h3>Unit:</h3></b></br>
			<%= @variable.unit %>
		<% end %>
	<% end %>
<% end %>

<% for ligne in @var_label %>
	<u>
  	<b><%= ligne['value'] %></b>	
  	<b> : </b>
  	<%= ligne['meaning'] %>	
	</u>
	<p>
  	<b>Description:</b>
  	<%= ligne['description'] %>
	</p>
<% end %>

<!--
<p>
  <b><h2>Descr after:</h2></b>
  <%=h @variable.descr_after %>
</p>








<p>
  <b>Long name fr:</b>
  <%=h @variable.long_name_fr %>
</p>

<p>
  <b>Descr before fr:</b>
  <%=h @variable.descr_before_fr %>
</p>

<p>
  <b>Descr after fr:</b>
  <%=h @variable.descr_after_fr %>
</p>

-->
