<p>
  <b>Var:</b>
  <%=h @variable.var_id %>
</p>

<p>
  <b>Dataset:</b>
  <%=h @variable.dataset_id %>
</p>

<p>
  <b>Name:</b>
  <%=h @variable.name %>
</p>

<p>
  <b>Format:</b>
  <%=h @variable.format %>
</p>

<p>
  <b>Kind:</b>
  <%=h @variable.kind %>
</p>

<p>
  <b>Reverse:</b>
  <%=h @variable.reverse %>
</p>

<p>
  <b>Missing:</b>
  <%=h @variable.missing %>
</p>

<p>
  <b>Created at:</b>
  <%=h @variable.created_at %>
</p>

<p>
  <b>Updated at:</b>
  <%=h @variable.updated_at %>
</p>

<p>
  <b>Mini:</b>
  <%=h @variable.mini %>
</p>

<p>
  <b>Maxi:</b>
  <%=h @variable.maxi %>
</p>

<p>
  <b>Unit:</b>
  <%=h @variable.unit %>
</p>


<p>
  <b>Binary var:</b>
  <%=h @variable.binary_var %>
</p>

<p>
  <b>Qualitatif ordonne:</b>
  <%=h @variable.qualitatif_ordonne %>
</p>

<p>
  <b>Long name:</b>
  <%=h @variable.long_name %>
</p>

<p>
  <b>Code var:</b>
  <%=h @variable.code_var %>
</p>

<p>
  <b>Descr before:</b>
  <%=h @variable.descr_before %>
</p>

<p>
  <b>Descr after:</b>
  <%=h @variable.descr_after %>
</p>

<p>
  <b>Long name fr:</b>
  <%=h @variable.long_name_fr %>
</p>

<p>
  <b>Descr before fr:</b>
  <%=h @variable.descr_before_fr %>
</p>

<p>
  <b>Descr after fr:</b>
  <%=h @variable.descr_after_fr %>
</p>

<p>
  <b>Page:</b>
  <%=h @variable.page %>
</p>


<%= link_to 'Edit', edit_variable_path(@variable) %> |
<%= link_to 'Back', variables_path %>
