<h1>Liste des commentaires</h1>

<table>
  <tr>
    <th>| Post |</th>
    <th>Body |</th>
  </tr>

<% for comment in @comments %>
  <tr>
    <td>| <%= link_to("&nbsp;" +comment.post_id.to_s + "&nbsp;", [@post]) %> |</td>
    <td><%=h comment.body %> |</td>
    <td><%= link_to 'Show', [@post, comment] %> |</td>
    <td><%= link_to 'Edit', [:edit, @post, comment] %> |</td>
    <td><%= link_to 'Destroy', [@post, comment], :confirm => 'Are you sure?', :method => :delete %> |</td>

  </tr>
<% end %>
</table>

<%= link_to 'New comment', new_post_comment_path(@post) %>
<%= link_to 'Liste des posts', posts_path %>
<br/>


