<p>
  <b>Var key:</b>
  <%=h @var_label.var_key %>
</p>

<p>
  <b>Var:</b>
  <%=h @var_label.var_id %>
</p>

<p>
  <b>Dataset:</b>
  <%=h @var_label.dataset_id %>
</p>

<p>
  <b>Value:</b>
  <%=h @var_label.value %>
</p>

<p>
  <b>Meaning:</b>
  <%=h @var_label.meaning %>
</p>

<p>
  <b>Description:</b>
  <%=h @var_label.description %>
</p>

<!--
<%= link_to 'Edit', edit_var_label_path(@var_label) %> |

<%= link_to 'Back', var_labels_path %>
-->
