<p>
  <b>Value:</b>
  <%=h @var_label.value %>

  <b> : </b>
  <h2><%=h @var_label.meaning %></h2>
</p>

<p>
  <b>Dataset:</b>
  <%=h @var_label.dataset_id %>

  <b>Var:</b>
  <%=h @var_label.var_id %>
</p>


<p>
  <b>Description:</b>
  <%=h @var_label.description %>
</p>

<!--
<%= link_to 'Edit', edit_var_label_path(@var_label) %> |

<%= link_to 'Back', var_labels_path %>
-->
